{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <br><br>
        <h2>Datos del silabo</h2>
        <table class="cyan">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ped</td>
                    <td>{{ silabo.nombrePed }}</td>
                </tr>
                <tr>
                    <td>Carrera</td>
                    <td>{{ silabo.nombreCarrera }}</td>
                </tr>
                <tr>
                    <td>Asignatura</td>
                    <td>{{ silabo.nombreAsignatura }}</td>
                </tr>
                <tr>
                    <td>CodigoGrupo</td>
                    <td>{{ silabo.CodigoGrupo }}</td>
                </tr>
                <tr>
                    <td>CodAsignatura</td>
                    <td>{{silabo.CodAsignatura}}</td>
                </tr>
                <tr>
                    <td>AnioCarrera</td>
                    <td>{{ silabo.AnioCarrera }}</td>
                </tr>
                <tr>
                    <td>HorasClase</td>
                    <td>{{ silabo.HorasClase }}</td>
                </tr>
                <tr>
                    <td>HorasPrecenciales</td>
                    <td>{{ silabo.HorasPrecenciales}}</td>
                </tr>
                <tr>
                    <td>HorasIndependientes</td>
                    <td>{{ silabo.HorasClase }}</td>
                </tr>
                <tr>
                    <td>Modalidad</td>
                    <td>{{ silabo.Modalidad }}</td>
                </tr>
                <tr>
                    <td>Trimestre</td>
                    <td>{{ silabo.Trimestre }}</td>
                </tr>
                <tr>
                    <td>TipoEvaluacion</td>
                    <td>{{ silabo.TipoEvaluacion }}</td>
                </tr>
                <tr>
                    <td>AnioLectivo</td>
                    <td>{{ silabo.AnioLectivo }}</td>
                </tr>
                <tr>
                    <td>Facilitador</td>
                    <td>{{ silabo.Facilitador }}</td>
                </tr>
                <tr>
                    <td>nombreCarrera</td>
                    <td>{{ silabo.nombreCarrera }}</td>
                </tr>
                <tr>
                    <td>nombreAsignatura</td>
                    <td>{{ silabo.nombreAsignatura }}</td>
                </tr>
                <tr>
                    <td>nombrePed</td>
                    <td>{{ silabo.nombrePed }}</td>
                </tr>
            </tbody>
        </table>
        <hr/>
        <h2>Entradas del silabo</h2>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th># Encuentro</th>
                    <th>Fecha</th>
                    <th>Unidad</th>
                    <th>Objetivos</th>
                    <th>Con. Tematicos</th>
                    <th>Formas de Enseñanza</th>
                    <th>Metodologias</th>
                    <th>Horas precenciales</th>
                    <th>Horas est. Independiente</th>
                    <th>Evaluacion</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entrada in silabo_datos %}
                    <tr>
                        <td>{{ entrada.n_encuentro }}</td>
                        <td>{{ entrada.fecha_encuentro }}</td>
                        <td>{{ entrada.unidad }}</td>
                        <td>{{ entrada.objetivos_unidad }}</td>
                        <td>{{ entrada.contenidos_tematicos }}</td>
                        <td>{{ entrada.formas_ensenanzas }}</td>
                        <td>{{ entrada.metodologias }}</td>
                        <td>{{ entrada.h_precenciales }}</td>
                        <td>{{ entrada.h_estudio_independiente }}</td>
                        <td>{{ entrada.evaluacion }}</td>
                        <td>{{ entrada.observaciones }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Agregar entradas</h2>
        <form method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input name="n_encuentros" type="number" data-length="10">
                    <label for="n_encuentros">No. de Encuentros</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">event</i>
                    <input name="fecha_encuentro" type="text" class="datepicker">
                    <label for="fecha_encuentro">Fecha</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea name="unidad" class="materialize-textarea countable"></textarea>
                    <label for="unidad">Unidad</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="objetivos" class="materialize-textarea countable"></textarea>
                    <label for="unidad">Objetivos de la unidad</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="contenidos_tematicos" class="materialize-textarea countable"></textarea>
                    <label for="contenidos_tematicos">Contenidos temáticos</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="forma_ensenanzas" class="materialize-textarea countable"></textarea>
                    <label for="forma_enzenanzas">Forma organizativa de la enseñanza</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="metodologias" class="materialize-textarea countable"></textarea>
                    <label for="metodologias">Metodología / estrategias/ ejes transversales</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="h_presenciales" type="number" data-length="10">
                    <label for="h_presenciales">Horas Presenciales</label>
                </div>
                <div class="input-field col s6">
                    <input name="h_estudio_independiente" type="number" data-length="10">
                    <label for="h_estudio_independiente">Horas de estudio independiente</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea name="evaluacion" class="materialize-textarea countable"></textarea>
                    <label for="evaluacio">Evaluacion</label>
                </div>
                <div class="input-field col s6">
                    <textarea name="observaciones" class="materialize-textarea countable"></textarea>
                    <label for="observaciones">Observaciones</label>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>   
        </form>
    </div>
{% endblock %}
