{% extends "base.twig" %}

{% block content %}
    <div class="container">
        {% if nueva_entrada %}
            <div class="valign-wrapper">
                <h5>Se agrego una nueva entrada al silabo con id: {{ silabo_id }}</h5>
            </div>
            <a href="./agregar_silabo_datos/{{ silabo_id }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Agregar datos</a>
        {% endif %}
        <br>
        <br>
        <br>
        <div class="row">
            <form class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <select name='Municipios'>
                            <option value="" disabled selected>Elige un Municipio</option>
                            {% for Municipios in listaMunicipios %}
                                <option value="{{ Municipios.Id_Ped }}">{{ Municipios.Nombre }}</option>
                            {% endfor %}
                        </select>
                        <label>Municipio</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name='carrera'>
                            <option value="" disabled selected>Elige una carrera</option>
                            {% for carrera in listaCarreras %}
                                <option value="{{ carrera.Id_Carrera }}">{{ carrera.Nombre }}</option>
                            {% endfor %}
                        </select>
                        <label>Carrera</label>
                    </div>
                    <div class="input-field col s6">
                        <select name='Anio_Carrera'>
                            <option value="" disabled selected>Elige un Año</option>
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                            <option value="5">V</option>
                        </select>
                        <label>Año de la Carrera</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name='Trimestre'>
                            <option value="" disabled selected>Elige un Trimestre</option>
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>

                        </select>
                        <label>Trimestre</label>
                    </div>


                    <div class="input-field col s6">
                        <select name='Asignaturas'>
                            <option value="" disabled selected>Elige una Asignatura</option>
                            {% for Asignaturas in listaAsignaturas %}
                                <option value="{{ Asignaturas.Id_Asignatura }}">{{ Asignaturas.Nombre }}</option>
                            {% endfor %}
                        </select>
                        <label>Asignaturas</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Código de la Asignatura" name="codigo_de_la_asignatura" type="text" class="validate">
                        <label for="codigo_de_la_Asignatura"></label>
                    </div>
                    <div class="input-field col s6">
                        <input name="codigo_de_grupo" type="text" class="validate" name='codigo_grupo'>
                        <label for="codigo_de_grupo">Código de grupo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name='modalidad'>
                            <option value="" disabled selected>Elige una modalidad</option>
                            <option value="Regular">Regular</option>
                            <option value="Por encuentros">Por encuentros</option>
                        </select>
                        <label>Modalidad</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="no_total_horas" type="number" class="validate">
                        <label for="no_total_horas">No. Total de Horas</label>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input name="horas_presenciales" type="number" class="validate">
                    <label for="horas_presenciales">Horas Presenciales</label>
                </div> 
                <div class="input-field col s6">
                    <input name="horas_est_independ" type="number" class="validate">
                    <label for="horas_est_independ">Horas de Estudio Independiente</label>
                </div> 
                <div class="row">
                    <div class="input-field col s6">
                        <select name='evaluacion'>
                            <option value="" disabled selected>Elige el Tipo de Evaluación</option>
                            <option value="Examen">Examen</option>
                            <option value="Trabajo de Curso">Trabajo de Curso</option>
                            <option value="Proyecto de Curso">Proyecto de Curso</option>
                        </select>
                        <label>Evaluación</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" class="validate" name='anio_lectivo'>
                        <label for="año">Año Lectivo</label>
                    </div>
                </div>  
                <div class="input-field col s6">
                    <input name="facilitador" type="text" class="validate">
                    <label for="facilitador">Facilitador</label>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>   
            </form>
        </div>
    </div>
{% endblock %}

