<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="Description" content="Silabo académico online">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>{{ sao.page.title }}</title>

            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <script src="/libs/jquery/jquery.min.js"></script>
            <link rel="icon" href="/img/icon.png"/>
        </head>
    {% endblock %}
    <body>
        <header>
            {% block navbar %}
                <!-- NavBar -->
                {{ include('base/navbar.twig') }}
                <!-- NavBar end -->
            {% endblock %}
            {% block sidenav %}
                <!-- sidenav -->
                {{ include('base/sidenav.twig') }}
                <!-- sidenav end -->
            {% endblock %}
        </header>
        <main>
            {% block content %}
                <!-- Content -->
                {{ include('base/container.twig') }}
                <!-- End Content-->
            {% endblock %}
        </main>

        {% block footer %}
            {{ include('base/footer.twig') }}
        {% endblock %}

        <!--  Scripts-->
        <script src="/libs/materialize/js/materialize.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
